<p id="notice"><%= notice %></p>

<h1>Acme Sales</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acme_sales.each do |acme_sale| %>
      <tr>
        <td><%= link_to 'Show', acme_sale %></td>
        <td><%= link_to 'Edit', edit_acme_sale_path(acme_sale) %></td>
        <td><%= link_to 'Destroy', acme_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acme Sale', new_acme_sale_path %>
